#feedbackModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedbackLabel', aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#feedbackLabel.modal-title Feedback
      .modal-body
        form#form-feedback(action="/feedback", method="post")
          .form-group
            textarea#feedback-text.form-control(placeholder="give me your feedback..", rows="10", name="feedback")
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Send feedback
