script(src='/js/socket.io-1.2.0.js')
|     
script(src='/js/jquery-1.11.1.min.js')
|     
script(src='/lib/bootstrap-3.3.2/js/bootstrap.min.js')
|     
script(src='/js/dc.js')
|     
script(src='/js/room.js')