doctype html
html
  include partials/head.jade
  body
    div#alertMessages.alert.alert-info.alert-dismissible(role='alert')
      button.close(type='button', data-dismiss='alert', aria-label='Close')
        span(aria-hidden='true') ×
      span.message
    div#feedback
      button.btn.btn-xs.btn-default(type='button', data-toggle="modal", data-target="#feedbackModal")  
        span.glyphicon.glyphicon-bullhorn(aria-hidden='true')
        | 
        | feedback
    ul#messages.list-unstyled
    |     
    .form-box
      ul#log.list-unstyled.small
      |       
      form#form-message
        .input-group
          input#m.form-control(autocomplete='off')
          |           
          span.input-group-btn
            button.btn.btn-success Send
    |     
    include partials/feedback_modal.jade
    include partials/foot.jade