doctype html
html
  include partials/head.jade
  body
    .jumbotron
      .container
        h1 Don't Chat!
        p.text-muted Try a bit of a chat really private
        p
          a.btn.btn-primary.btn-lg(href='/demo') Enter room  
            b demo
        p.text-muted or create your own room:
        form#createRoom
          .form-group
            div.input-group.col-sm-4
              input.input-lg.form-control(type="text")
              |           
              span.input-group-btn
                button.btn.btn-success.btn-lg Create
    include partials/foot.jade